/* automatic import /usersite/themes/core_mixins.less */
/* automatic import /usersite/themes/responsive/columns.less */
@import "https://fonts.googleapis.com/css?family=Fira+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Asap";
@import "https://fonts.googleapis.com/css?family=Fira+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Asap";
@import "https://fonts.googleapis.com/css?family=Fira+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Asap";
@import "https://fonts.googleapis.com/css?family=Fira+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Asap";
@import "https://fonts.googleapis.com/css?family=Fira+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Asap";
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-67,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-67-33,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-33-33 {
  display: block;
}
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-67 > .zoogle-column,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-67-33 > .zoogle-column,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-33-33 > .zoogle-column {
  width: 100%;
}
#usersite-container div.zoogle-content[content-width~="<500"] .zoogle-columns-50-50 {
  display: block;
}
#usersite-container div.zoogle-content[content-width~="<500"] .zoogle-columns-50-50 > .zoogle-column {
  width: 100%;
}
/* --------------------------
	 Structure
-------------------------- */
.not-intro-page #usersite-container .site-wrap,
.not-intro-page #usersite-container .site-wide-feature-area .zoogle-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.not-intro-page #usersite-container * {
  box-sizing: border-box;
}
.not-intro-page #usersite-container .title-nav-container {
  position: relative;
  z-index: 5;
}
.not-intro-page #usersite-container .ie-flexbox-fix-wrapper {
  position: relative;
  z-index: 4;
}
.not-intro-page #usersite-container .media-cta-container {
  display: flex;
  flex-direction: column;
}
html:not(.mobile-view) .not-intro-page #usersite-container #page-header .title-nav-container {
  padding-top: 8vh;
  padding-bottom: 10vh;
}
html:not(.mobile-view) .not-intro-page #usersite-container .title-wrap {
  margin-bottom: 4vh;
}
html:not(.mobile-view) .not-intro-page #usersite-container .title-wrap:after {
  margin-top: 4vh;
}
.not-intro-page #usersite-container #content-wrap {
  padding-top: 8vh;
}
.not-intro-page #usersite-container #main-nav.non-mobile {
  line-height: 220%;
}
.not-intro-page #usersite-container #footer-wrap {
  padding-top: 10vh;
  padding-bottom: 3vh;
}
.not-intro-page #usersite-container .site-wide-feature-area {
  padding-bottom: 2vh;
}
.not-intro-page #usersite-container .site-wide-feature-area .my_site_icon {
  margin-left: 1vw;
  margin-right: 1vw;
}
.not-intro-page #usersite-container .media-cta-container {
  position: relative;
}
.not-intro-page #usersite-container .page-media-container,
.not-intro-page #usersite-container .page-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.not-intro-page #usersite-container .page-media {
  background-size: cover;
}
.mobile-view .not-intro-page #usersite-container .default-page-header-area {
  margin: auto;
}
.mobile-view .not-intro-page #usersite-container .title-nav-container {
  padding: 1rem;
  padding-left: 0;
  min-height: 4em;
  display: flex;
  align-items: center;
}
.mobile-view .not-intro-page #usersite-container .title-nav-container .title-wrap {
  order: 1;
}
.mobile-view .not-intro-page #usersite-container .title-nav-container .toggle-mobile-menu a {
  font-size: 1.6rem;
  display: block;
  padding-left: 0.8rem;
  padding-right: 0.7rem;
}
.mobile-view .not-intro-page #usersite-container .title-nav-container .toggle-mobile-menu a i:before {
  vertical-align: -0.05em;
}
.not-intro-page #usersite-container #sticky-footer .music-player.display-swmp {
  background-image: none;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}
.not-intro-page #usersite-container #content .zoogle-feature {
  margin-bottom: 2rem;
}
.not-intro-page #usersite-container #content .zoogle-feature.block-title-feature {
  margin-bottom: 1rem;
}
.ie .not-intro-page #usersite-container .ie-flexbox-fix-wrapper {
  display: flex;
}
.ie .not-intro-page #usersite-container .ie-flexbox-fix-wrapper .media-cta-container {
  flex: 1 0 auto;
}
.ie .not-intro-page #usersite-container .ie-flexbox-fix-wrapper .default-page-header-area {
  flex: 0 0 auto;
}
/* --------------------------
	 / Structure
-------------------------- */
/* --------------------------
	 Variables: 

@theme-id: 173;
@variant-key: "a";
@text-color: #000000;
@link-color: #768697;
@feature-title-color: #768697;
@nav-link-color: #000000;
@nav-link-rollover-color: #000000;
@sub-menu-background-color: #575757;
@sub-menu-link-color: #ffffff;
@page-title-color: #575757;
@swmp-use-custom-colors-boolean: true;
@swmp-background-color: #ffffff;
@swmp-text-color-enum: "black";
@site-wide-my-sites-size-number: 0.6rem;
@site-wide-my-sites-rgba: rgb(116, 116, 116, 1);
@site-wide-my-sites-hover-rgba: rgba(0, 0, 0, 1);
@page-background-color: #ffffff;
@mobile-nav-background-color: #ffffff;
@page-title-type-enum: "logo";
@page-title-logo-background-image: url("//s3.amazonaws.com/content.sitezoogle.com/u/254544/4fc32699cca9828de96f06138e7939250c4bfa18/original/divr-black-4000x2000-2.png?1497674034");
@page-title-logo-background-image-original-width: 4000px;
@page-title-logo-background-image-original-height: 2000px;
@page-title-string: "Diversity";
@page-title-logo-size-number: 10%;
@cta-header-heading-rgba: rgba(255, 255, 255, 1);
@cta-header-subheading-rgba: rgba(255, 255, 255, 1);
@cta-header-button-rgba: rgba(255, 255, 255, 1);
@cta-header-button-hover-rgba: rgba(255, 255, 255, 1);
@cta-header-align-enum: "center";
@cta-header-position-enum: "middle";
@cta-header-border-rgba: rgba(255, 255, 255, 1);
@cta-header-border-width-number: 0px;
@cta-header-background-rgba: rgba(255, 255, 255, 0);
@cta-header-divider-boolean: false;
@intro-page-background-color: #ffffff;
@intro-page-text-color: #000000;
@mobile-nav-link-color: #000000;
@site-wide-my-sites-align-enum: "center";
@header-height-number: 100%;
@header-height-inner-number: 0%;
@image-filter-enum: "darken";
@show-lines-boolean: false;
@loading-animation-boolean: true;
@button-color: #000000;
@button-hover-color: #000000;
@button-shape-enum: "square";
@button-style-enum: "outline";
@page-title-typeface-style: "regular";
@page-title-typeface-style-stylesheet: "https://fonts.googleapis.com/css?family=Asap";
@page-title-typeface-style-stack: 'Asap', sans-serif;
@page-title-typeface-style-font-weight: 400;
@page-title-typeface-style-font-style: normal;
@page-title-typeface-size-number: 50px;
@page-title-uppercase-boolean: true;
@page-title-letterspacing-number: 0.4em;
@heading-typeface-style: "regular";
@heading-typeface-style-stylesheet: "https://fonts.googleapis.com/css?family=Cutive+Mono";
@heading-typeface-style-stack: 'Cutive Mono', monospace;
@heading-typeface-style-font-weight: 400;
@heading-typeface-style-font-style: normal;
@heading-typeface-size-number: 24px;
@heading-uppercase-boolean: false;
@content-typeface-style: "light";
@content-typeface-style-stylesheet: "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
@content-typeface-style-stack: 'Roboto Mono', monospace;
@content-typeface-style-font-weight: 300;
@content-typeface-style-font-style: normal;
@content-typeface-size-number: 12px;
@content-uppercase-boolean: false;
@feature-title-typeface-style: "regular";
@feature-title-typeface-style-stylesheet: "https://fonts.googleapis.com/css?family=Roboto+Mono";
@feature-title-typeface-style-stack: 'Roboto Mono', monospace;
@feature-title-typeface-style-font-weight: 400;
@feature-title-typeface-style-font-style: normal;
@feature-title-typeface-size-number: 12px;
@feature-title-uppercase-boolean: true;
@feature-title-letterspacing-number: 0.5em;
@menu-item-typeface-style: "regular";
@menu-item-typeface-style-stylesheet: "https://fonts.googleapis.com/css?family=Fira+Mono";
@menu-item-typeface-style-stack: 'Fira Mono', monospace;
@menu-item-typeface-style-font-weight: 400;
@menu-item-typeface-style-font-style: normal;
@menu-item-typeface-size-number: 17px;
@menu-item-uppercase-boolean: true;
@heading-color: #000000;
@image-filter-custom-rgba: rgba(189, 182, 155, 0.6);
@image-filter-custom-mode-enum: "multiply";
@content-lineheight-number: 1.5;
-------------------------- */
/* automatic import /usersite/themes/core_mixins.less */
/* automatic import /usersite/themes/theme_option_groups/global_colors.less */
.not-intro-page #usersite-container,
.not-intro-page #usersite-container legend,
.not-intro-page #usersite-container button {
  color: #000000;
}
.not-intro-page #usersite-container .FCK__AnchorC {
  color: #000000 !important;
}
.not-intro-page #usersite-container .text-main,
.not-intro-page #usersite-container h1,
.not-intro-page #usersite-container h2,
.not-intro-page #usersite-container h3,
.not-intro-page #usersite-container h4,
.not-intro-page #usersite-container h5 {
  color: #000000;
}
.not-intro-page #usersite-container a,
.not-intro-page #usersite-container .text-main a,
.not-intro-page #usersite-container h1 a,
.not-intro-page #usersite-container h2 a,
.not-intro-page #usersite-container h3 a,
.not-intro-page #usersite-container h4 a,
.not-intro-page #usersite-container h5 a {
  color: #768697;
}
.not-intro-page #usersite-container .text-secondary {
  color: #262626;
  color: rgba(0, 0, 0, 0.75);
}
.not-intro-page #usersite-container .text-tertiary {
  color: #4d4d4d;
  color: rgba(0, 0, 0, 0.55);
}
.not-intro-page #usersite-container .text-tertiary a {
  color: #262626;
  color: rgba(0, 0, 0, 0.85);
}
.not-intro-page #usersite-container .text-tertiary a:hover,
.not-intro-page #usersite-container .text-tertiary a:focus {
  color: #000000;
}
.not-intro-page #usersite-container .bg-accent-slight,
.not-intro-page #usersite-container .bg-accent-slight-hover:hover,
.not-intro-page #usersite-container table.ui-collection tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.not-intro-page #usersite-container .bg-accent {
  background-color: #8c8c8c;
  background-color: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container .bg-accent-heavy {
  background-color: #808080;
  background-color: rgba(0, 0, 0, 0.5);
}
.not-intro-page #usersite-container .bg-main {
  background-color: #000000;
}
.not-intro-page #usersite-container .bg-highlight,
.not-intro-page #usersite-container a.bg-highlight {
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: #768697;
  border: 1px solid transparent;
}
.not-intro-page #usersite-container .bg-highlight,
.not-intro-page #usersite-container a.bg-highlight,
.not-intro-page #usersite-container .bg-highlight:hover,
.not-intro-page #usersite-container a.bg-highlight:hover,
.not-intro-page #usersite-container .bg-highlight:focus,
.not-intro-page #usersite-container a.bg-highlight:focus {
  color: rgba(255, 255, 255, 0.8);
}
.not-intro-page #usersite-container table.underlined th,
.not-intro-page #usersite-container table.underlined td,
.not-intro-page #usersite-container table.ui-collection th,
.not-intro-page #usersite-container table.ui-collection td,
.not-intro-page #usersite-container .border-accent th,
.not-intro-page #usersite-container .border-accent td,
.not-intro-page #usersite-container .border-accent {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container .border-accent-embossed {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.35);
}
.not-intro-page #usersite-container .border-accent-dark {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.35);
}
.not-intro-page #usersite-container .border-link {
  border-color: #768697;
  border-color: rgba(118, 134, 151, 0.6);
}
.not-intro-page #usersite-container td.spacer {
  background: #8c8c8c;
  background: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container input,
.not-intro-page #usersite-container textarea {
  color: #333;
  background-color: #fff;
}
.not-intro-page #usersite-container input[type="image"] {
  background-color: transparent;
}
.not-intro-page #usersite-container .simple_form textarea,
.not-intro-page #usersite-container .simple_form input {
  border: 1px solid #8c8c8c;
}
.not-intro-page #usersite-container .simple_form textarea:focus,
.not-intro-page #usersite-container .simple_form input:focus {
  border-color: #768697;
  box-shadow: 0 0 4px rgba(118, 134, 151, 0.5);
}
.not-intro-page #usersite-container #mobile-header .bar {
  color: #000000;
}
.not-intro-page #usersite-container #mobile-header .bar a {
  color: #000000;
  border-color: #000000;
}
.not-intro-page #usersite-container .subtitle-wrap {
  color: #768697;
}
.not-intro-page #usersite-container footer .branding a {
  color: #000000;
}
.oldie.not-intro-page #usersite-container .zoogle-music-player .circle-button {
  color: #768697;
}
.not-intro-page #usersite-container .track-number {
  color: rgba(0, 0, 0, 0.4);
}
.not-intro-page #usersite-container .pagination {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container .pagination .previous a,
.not-intro-page #usersite-container .pagination .next a {
  color: #000000;
}
.not-intro-page #usersite-container .pagination .previous a:hover,
.not-intro-page #usersite-container .pagination .next a:hover,
.not-intro-page #usersite-container .pagination .previous a:focus,
.not-intro-page #usersite-container .pagination .next a:focus {
  color: #000000;
}
.not-intro-page #usersite-container .pagination .page a {
  color: #000000;
}
.not-intro-page #usersite-container .pagination .page a:hover,
.not-intro-page #usersite-container .pagination .page a:focus,
.not-intro-page #usersite-container .pagination .current {
  background-color: #000000;
  color: white;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_background.less */
.not-intro-page #usersite-container {
  background-color: #ffffff;
}
body:not(.wysiwyg) {
  background-color: #ffffff;
}
/* automatic import /usersite/themes/theme_option_groups/global_menu_colors.less */
#usersite-container nav#main-nav.non-mobile ul ul li a:link,
#usersite-container nav#main-nav.non-mobile ul ul li a:visited {
  background-color: #575757;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
}
#usersite-container nav#main-nav.non-mobile ul ul li a:hover,
#usersite-container nav#main-nav.non-mobile ul ul li a:focus {
  color: #ffffff;
}
#usersite-container nav#main-nav.non-mobile ul ul:before,
#usersite-container nav#main-nav.non-mobile ul.horizontal ul:before {
  border-color: transparent transparent #575757 transparent;
}
#usersite-container nav#main-nav.non-mobile ul.horizontal ul:after {
  border-color: #575757 transparent transparent transparent;
}
#usersite-container nav#main-nav.non-mobile ul.vertical_right ul:before {
  border-color: transparent transparent transparent #575757;
}
#usersite-container nav#main-nav.non-mobile ul.vertical_left ul:before {
  border-color: transparent #575757 transparent transparent;
}
#usersite-container #toggle-mobile-menu a,
#usersite-container nav#main-nav.non-mobile a.top {
  color: #000000;
}
#usersite-container #toggle-mobile-menu a:hover,
#usersite-container nav#main-nav.non-mobile a.top:hover,
#usersite-container #toggle-mobile-menu a:focus,
#usersite-container nav#main-nav.non-mobile a.top:focus {
  color: #000000;
}
#usersite-container nav#main-nav.non-mobile li.selected a.top {
  color: #000000;
}
/* automatic import /usersite/themes/theme_option_groups/global_mobile_menu.less */
#usersite-container nav.mobile a.top:link,
#usersite-container nav.mobile ul li a:link,
#usersite-container nav.mobile a.top:visited,
#usersite-container nav.mobile ul li a:visited,
#usersite-container nav.mobile a.top:hover,
#usersite-container nav.mobile ul li a:hover,
#usersite-container nav.mobile a.top:active,
#usersite-container nav.mobile ul li a:active {
  color: #000000;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_logo.less */
h1#page-title.display-type-logo {
  width: 10%;
}
h1#page-title.display-type-logo span,
h1#page-title.display-type-logo img {
  width: 100%;
}
#page-root.display-type-logo [data-logo-size-target] {
  width: 10%;
}
#page-root.display-type-logo [data-logo-size-target] h1#page-title.display-type-logo {
  width: 100%;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_color.less */
#page-title span.outer {
  color: #575757;
}
/* automatic import /usersite/themes/theme_option_groups/global_site_wide_my_sites.less */
#usersite-container #site-wide-header .zoogle-columns {
  height: auto !important;
}
#usersite-container #site-wide-header .zoogle-columns .my_sites {
  font-size: 0.6rem;
}
#usersite-container #site-wide-header .zoogle-columns .my_sites li a {
  color: #747474;
}
#usersite-container #site-wide-header .zoogle-columns .my_sites li a:hover {
  color: #000000;
}
.wysiwyg #usersite-container #main-nav.mobile .my_site_feature {
  padding: 0;
}
.wysiwyg #usersite-container #main-nav.mobile .my_site_feature ul.my_sites {
  text-align: left;
}
/* automatic import /usersite/themes/theme_option_groups/global_site_wide_my_sites_align.less */
#usersite-container #site-wide-header .my_sites {
  text-align: center;
}
/* automatic import /usersite/themes/theme_option_groups/global_swmp.less */
#sticky-footer .music_feature .music-player.display-swmp {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
}
#sticky-footer .music_feature .music-player.display-swmp .player-title .title {
  color: #000;
  color: rgba(0, 0, 0, 0.9);
}
#sticky-footer .music_feature .music-player.display-swmp .artist {
  color: #000;
  color: rgba(0, 0, 0, 0.6);
}
#sticky-footer .music_feature .music-player.display-swmp .artist span {
  color: #000;
  color: rgba(0, 0, 0, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .player .action .button {
  font-size: 12px;
  min-width: 55px;
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button,
#sticky-footer .music_feature .music-player.display-swmp .player a.button {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:hover,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:hover,
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:focus,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:focus {
  background-color: rgba(0, 0, 0, 0.325);
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:active,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:active {
  background-color: rgba(0, 0, 0, 0.35);
}
#sticky-footer .music_feature .music-player.display-swmp .player a,
#sticky-footer .music_feature .music-player.display-swmp .player .button {
  color: #000;
}
#sticky-footer .music_feature .music-player.display-swmp .player .progress {
  background: #666;
  background: rgba(0, 0, 0, 0.4);
}
#sticky-footer .music_feature .music-player.display-swmp .player .progress .position {
  background: #ddd;
  background: rgba(0, 0, 0, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .time {
  color: #000;
  color: rgba(0, 0, 0, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .text-tertiary {
  color: rgba(0, 0, 0, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp {
  border-top: 1px solid #ffffff;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
#sticky-footer .music_feature .music-player.display-swmp span.title {
  color: "black";
}
/* automatic import /usersite/themes/theme_option_groups/global_intro_page.less */
.intro-page #usersite-container {
  color: #000000;
}
.intro-page #usersite-container,
.intro-page #usersite-container #page-root {
  background-color: #ffffff;
}
.intro-page #usersite-container a:not(.button):link,
.intro-page #usersite-container a:not(.button):visited {
  color: #000000;
}
.intro-page #usersite-container .button,
.intro-page #usersite-container input[type=submit] {
  background-color: #000000;
  color: #ffffff;
}
.intro-page #usersite-container .button:hover,
.intro-page #usersite-container input[type=submit]:hover,
.intro-page #usersite-container .button:focus,
.intro-page #usersite-container input[type=submit]:focus {
  opacity: 0.8;
}
/* automatic import /usersite/themes/theme_option_groups/global_buttons.less */
#usersite-container .button {
  border-radius: 0;
}
#usersite-container form.simple_form input,
#usersite-container form.simple_form input[type="submit"],
#usersite-container form.simple_form input[type="reset"],
#usersite-container form.simple_form input[type="button"],
#usersite-container form.simple_form textarea {
  border-radius: 0;
}
#usersite-container nav#main-nav.non-mobile ul li.top li.subpage a {
  border-radius: 0;
}
.not-intro-page #usersite-container .button,
.intro-page #usersite-container .button,
.not-intro-page #usersite-container input[type=submit],
.intro-page #usersite-container input[type=submit] {
  border: 1px solid transparent;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.25s ease-in-out;
}
.not-intro-page #usersite-container .button.disabled,
.intro-page #usersite-container .button.disabled,
.not-intro-page #usersite-container input[type=submit].disabled,
.intro-page #usersite-container input[type=submit].disabled,
.not-intro-page #usersite-container .button[disabled],
.intro-page #usersite-container .button[disabled],
.not-intro-page #usersite-container input[type=submit][disabled],
.intro-page #usersite-container input[type=submit][disabled],
.not-intro-page #usersite-container .button.disabled:hover,
.intro-page #usersite-container .button.disabled:hover,
.not-intro-page #usersite-container input[type=submit].disabled:hover,
.intro-page #usersite-container input[type=submit].disabled:hover,
.not-intro-page #usersite-container .button[disabled]:hover,
.intro-page #usersite-container .button[disabled]:hover,
.not-intro-page #usersite-container input[type=submit][disabled]:hover,
.intro-page #usersite-container input[type=submit][disabled]:hover,
.not-intro-page #usersite-container .button.disabled:focus,
.intro-page #usersite-container .button.disabled:focus,
.not-intro-page #usersite-container input[type=submit].disabled:focus,
.intro-page #usersite-container input[type=submit].disabled:focus,
.not-intro-page #usersite-container .button[disabled]:focus,
.intro-page #usersite-container .button[disabled]:focus,
.not-intro-page #usersite-container input[type=submit][disabled]:focus,
.intro-page #usersite-container input[type=submit][disabled]:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.not-intro-page #usersite-container input[type="submit"],
.intro-page #usersite-container input[type="submit"] {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.not-intro-page #usersite-container input[type="submit"]:hover,
.intro-page #usersite-container input[type="submit"]:hover,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.not-intro-page #usersite-container input[type="submit"]:focus,
.intro-page #usersite-container input[type="submit"]:focus,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.not-intro-page #usersite-container input[type="submit"]:active,
.intro-page #usersite-container input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}
.not-intro-page #usersite-container .button-secondary,
.intro-page #usersite-container .button-secondary {
  color: #000000;
  border-color: #000000;
}
.not-intro-page #usersite-container .button-secondary:hover,
.intro-page #usersite-container .button-secondary:hover,
.not-intro-page #usersite-container .button-secondary:focus,
.intro-page #usersite-container .button-secondary:focus,
.not-intro-page #usersite-container .button-secondary:active,
.intro-page #usersite-container .button-secondary:active {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.not-intro-page #usersite-container .button-tertiary,
.intro-page #usersite-container .button-tertiary {
  padding: 0;
  border: none;
}
.not-intro-page #usersite-container .button-tertiary:not(.small):hover,
.intro-page #usersite-container .button-tertiary:not(.small):hover,
.not-intro-page #usersite-container .button-tertiary:not(.small):focus,
.intro-page #usersite-container .button-tertiary:not(.small):focus,
.not-intro-page #usersite-container .button-tertiary:not(.small):active,
.intro-page #usersite-container .button-tertiary:not(.small):active {
  text-decoration: underline;
}
.not-intro-page #usersite-container .button-tertiary.small:hover,
.intro-page #usersite-container .button-tertiary.small:hover,
.not-intro-page #usersite-container .button-tertiary.small:focus,
.intro-page #usersite-container .button-tertiary.small:focus,
.not-intro-page #usersite-container .button-tertiary.small:active,
.intro-page #usersite-container .button-tertiary.small:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.not-intro-page #usersite-container input[type="submit"],
.intro-page #usersite-container input[type="submit"] {
  color: #000000;
  border-color: #000000;
  background-color: transparent;
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.not-intro-page #usersite-container input[type="submit"]:hover,
.intro-page #usersite-container input[type="submit"]:hover,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.not-intro-page #usersite-container input[type="submit"]:focus,
.intro-page #usersite-container input[type="submit"]:focus,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.not-intro-page #usersite-container input[type="submit"]:active,
.intro-page #usersite-container input[type="submit"]:active {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.not-intro-page #usersite-container .button-secondary,
.intro-page #usersite-container .button-secondary {
  border-color: transparent;
}
/* automatic import /usersite/themes/theme_option_groups/global_mobile_menu_background.less */
#usersite-container nav.mobile {
  background-color: #ffffff;
}
#usersite-container nav.mobile .selected > div {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
#usersite-container nav.mobile#main-nav .selected > div a {
  color: black;
}
#usersite-container nav.mobile .selected > div {
  background-color: rgba(70, 70, 70, 0.5);
  font-weight: bold;
}
#usersite-container nav.mobile#main-nav .selected > div a {
  color: white;
}
/* automatic import /usersite/themes/theme_option_groups/global_cta_header_headings.less */
#usersite-container .call_to_action_header_feature .heading-primary {
  color: #ffffff;
}
#usersite-container .call_to_action_header_feature .heading-quaternary {
  color: #ffffff;
}
/* automatic import /usersite/themes/theme_option_groups/global_cta_header_button.less */
.not-intro-page #usersite-container .call_to_action_header_feature .button,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit] {
  border: 1px solid transparent;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.25s ease-in-out;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button.disabled,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit].disabled,
.not-intro-page #usersite-container .call_to_action_header_feature .button[disabled],
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit][disabled],
.not-intro-page #usersite-container .call_to_action_header_feature .button.disabled:hover,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit].disabled:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button[disabled]:hover,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit][disabled]:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button.disabled:focus,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit].disabled:focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button[disabled]:focus,
.not-intro-page #usersite-container .call_to_action_header_feature input[type=submit][disabled]:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary),
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"] {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):hover,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):focus,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):active,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:active {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-secondary {
  color: #ffffff;
  border-color: #ffffff;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-secondary:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button-secondary:focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button-secondary:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary {
  padding: 0;
  border: none;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary:not(.small):hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary:not(.small):focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary:not(.small):active {
  text-decoration: underline;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary.small:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary.small:focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button-tertiary.small:active {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary),
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"] {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):hover,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:hover,
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):focus,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:focus,
.not-intro-page #usersite-container .call_to_action_header_feature .button:not(.button-secondary):not(.button-tertiary):active,
.not-intro-page #usersite-container .call_to_action_header_feature input[type="submit"]:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button-secondary {
  border-color: transparent;
}
/* automatic import /usersite/themes/theme_option_groups/global_cta_header_align.less */
body:not(.mobile-view) #usersite-container .default-page-header-area {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}
body:not(.mobile-view) #usersite-container .default-page-header-area .call_to_action_header_feature.feature {
  text-align: center;
}
.mobile-view #usersite-container .default-page-header-area {
  margin: auto;
}
/* automatic import /usersite/themes/theme_option_groups/global_cta_header.less */
#usersite-container .call_to_action_header_feature.feature {
  border-width: 0px;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
#usersite-container .default-page-header-area {
  z-index: 201;
}
/* automatic import /usersite/themes/theme_option_groups/global_menu_typefaces.less */
#usersite-container nav#main-nav,
#usersite-container #page-root nav#main-nav {
  font-size: 17px;
}
#usersite-container nav#main-nav ul ul,
#usersite-container #page-root nav#main-nav ul ul {
  font-size: 12px;
}
#usersite-container nav#main-nav.mobile,
#usersite-container #page-root nav#main-nav.mobile {
  font-size: 1rem;
}
#usersite-container nav#main-nav.mobile ul ul,
#usersite-container #page-root nav#main-nav.mobile ul ul {
  font-size: 0.8rem;
}
#usersite-container nav#main-nav {
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
/* automatic import /usersite/themes/theme_option_groups/global_content_typefaces.less */
#usersite-container .main-font {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
}
#usersite-container .text_feature,
#usersite-container p {
  line-height: 1.5;
}
#usersite-container,
#usersite-container legend,
#usersite-container input,
#usersite-container textarea,
#usersite-container button {
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
}
#usersite-container .gallery_feature li {
  font-size: 12px;
}
#usersite-container footer .branding a {
  text-decoration: none;
}
/* automatic import /usersite/themes/theme_option_groups/global_heading_typefaces.less */
#usersite-container .alt-font {
  font-family: 'Cutive Mono', monospace;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
/* automatic import /usersite/themes/theme_option_groups/global_feature_title_typefaces.less */
#usersite-container .subtitle-wrap {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_typefaces.less */
#usersite-container .project-name {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
#usersite-container h1#page-title .outer {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 50px;
}
#usersite-container h1#page-title.display-type-logo span.outer,
#usersite-container h1#page-title.display-type-none span.outer {
  font-size: 0;
}
#usersite-container h1#page-title.display-type-none span {
  display: none;
}
#usersite-container #title-wrap h1#page-title.display-type-logo span,
#usersite-container #title-wrap h1#page-title.display-type-logo span img {
  width: 100%;
}
#usersite-container.mobile-view h1#page-title .outer {
  letter-spacing: normal;
}
/* automatic import /usersite/themes/theme_option_groups/global_image_filter.less */
#usersite-container .page-media-container:before,
#usersite-container .page-media-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 9;
}
.no-backgroundblendmode #usersite-container .page-media-container:before,
.no-backgroundblendmode #usersite-container .page-media-container:after {
  opacity: 0.3;
}
#usersite-container .page-media-container:after {
  z-index: 10;
}
#usersite-container .page-media-container .page-photo,
#usersite-container .page-media-container video.page-media {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.no-cssfilters #usersite-container .page-media-container:after {
  background: black;
}
/* automatic import /usersite/themes/theme_option_groups/global_cta_header_divider.less */
/* --------------------------
	 Skin
-------------------------- */
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container {
  padding: calc(1.5vh + 5px) 5vw;
  max-width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container .title-wrap {
  padding-top: 5px;
  padding-bottom: 5px;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container .title-wrap .page-title {
  margin-right: 50px;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container .title-wrap .page-title span {
  display: block;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container nav.non-mobile a.top {
  margin-left: calc(5px + 1vw);
  margin-right: calc(5px + 1vw);
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container nav.non-mobile li.top:first-child a.top {
  margin-left: 0;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container nav.non-mobile li.top:last-child a.top {
  margin-right: 0;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[multiple-line],
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container.multiple-line {
  -ms-flex-pack: center;
  justify-content: center;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[multiple-line] .page-title,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container.multiple-line .page-title,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[multiple-line] .nav-bar,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container.multiple-line .nav-bar {
  max-width: 920px;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[multiple-line] .title-wrap,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container.multiple-line .title-wrap {
  text-align: center;
  width: 100%;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[multiple-line] .page-title,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container.multiple-line .page-title {
  margin-left: 25px;
  margin-right: 25px;
}
.no-flexbox .not-intro-page #usersite-container:not(.mobile-view) .title-nav-container .nav-bar {
  float: right;
  margin-top: 30px;
}
.no-flexbox .not-intro-page #usersite-container:not(.mobile-view) .title-nav-container .title-wrap {
  float: left;
  margin-top: 30px;
}
.not-intro-page #usersite-container:not(.mobile-view) .display-type-none .title-nav-container {
  -ms-flex-pack: center;
  justify-content: center;
}
.not-intro-page #usersite-container .display-type-none .title-wrap {
  display: none;
}
.not-intro-page #usersite-container .page-title.display-type-logo {
  width: 10vw;
  min-width: 100px;
}
.not-intro-page #usersite-container #main-nav:not(.mobile) a.top {
  line-height: 130%;
  transition: all 0.2s;
}
.not-intro-page #usersite-container #main-nav:not(.mobile) a.top:hover,
.not-intro-page #usersite-container #main-nav:not(.mobile) a.top:active {
  transition: all 0.3s;
}
.not-intro-page #usersite-container #main-nav:not(.mobile) li.top.top {
  margin: 0;
}
.not-intro-page #usersite-container #main-nav:not(.mobile) li.top:first-child a.top {
  padding-left: 0;
}
.not-intro-page #usersite-container #main-nav:not(.mobile) li.top:last-child a.top {
  padding-right: 0;
}
html:not(.screenshot-request) .not-intro-page #usersite-container #main-nav:not(.mobile) li.has-submenu a.top:after {
  content: '\25BE';
  padding-left: 3px;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[underline] a.top:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0;
  transform: translateY(-2px);
  transition: all 0.1s ease-out;
}
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[underline] a.top:hover:before,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[underline] a.top:focus:before,
.not-intro-page #usersite-container:not(.mobile-view) .title-nav-container[underline] .selected a.top:before {
  opacity: 1;
  transform: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInAndSlideFromLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.not-intro-page #usersite-container {
  background-color: #ffffff;
}
.not-intro-page #usersite-container .call_to_action_header_feature .heading-primary {
  font-size: 4em;
  margin: 0.4em 0 0.2em;
}
.mobile-view .not-intro-page #usersite-container .call_to_action_header_feature .heading-primary {
  font-size: 3em;
}
.not-intro-page #usersite-container .call_to_action_header_feature .heading-quaternary {
  font-size: 1.2em;
}
.mobile-view .not-intro-page #usersite-container .call_to_action_header_feature .heading-quaternary {
  font-size: 1em;
}
.not-intro-page #usersite-container .call_to_action_header_feature section {
  display: flex;
  flex-direction: column;
}
.not-intro-page #usersite-container .call_to_action_header_feature .heading-quaternary {
  order: 1;
  align-self: stretch;
}
.not-intro-page #usersite-container .call_to_action_header_feature .heading-primary {
  order: 2;
}
.not-intro-page #usersite-container .call_to_action_header_feature .button {
  order: 3;
  align-self: center;
}
.not-intro-page #usersite-container .landing-page .media-cta-container {
  min-height: 100vh;
}
.mobile-view.wysiwyg.not-intro-page #usersite-container .landing-page .media-cta-container {
  min-height: 568px;
}
.not-intro-page #usersite-container .inner-page .media-cta-container {
  min-height: 0vh;
}
.mobile-view.wysiwyg.not-intro-page #usersite-container .inner-page .media-cta-container {
  min-height: 0px;
}
.mobile-view.not-intro-page #usersite-container #page-title .outer {
  font-size: 30px;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .page-media-container {
  animation: fadeIn 2s ease-out both 1s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page #container:after,
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .title-wrap:after {
  animation: fadeIn 2s ease-out both 1.5s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .default-page-header-area {
  animation: fadeIn 1s ease-out both 1.5s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .page-title,
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .nav-bar {
  animation: slideDown 1s cubic-bezier(0.19, 1, 0.22, 1) both 2s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page .nav-bar {
  animation-delay: 2.2s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .landing-page #content {
  animation: slideUp 1.5s cubic-bezier(0.19, 1, 0.22, 1) backwards 2.5s;
}
html:not(.mobile-view):not(.screenshot-request) .not-intro-page #usersite-container .music-player.display-swmp {
  animation: fadeIn 1.5s ease-out both 2.8s;
  overflow: auto;
}
.not-intro-page #usersite-container #content .calendar-placeholder-icon {
  background: #575757;
  padding: 10px 0 7px;
}
.not-intro-page #usersite-container #content .calendar-placeholder-month,
.not-intro-page #usersite-container #content .calendar-placeholder-day {
  background: #575757;
  color: white;
  border: none;
  border-radius: 0;
}
.not-intro-page #usersite-container #content .calendar-placeholder-day {
  margin-top: -12px;
}
/* --------------------------
	 / Skin
-------------------------- */
/* --------------------------
	 Custom CSS
-------------------------- */
/* --------------------------
	 / Custom CSS
-------------------------- */
